*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.navbar h1
{
    font-size: 24px;
}
.navbar
{
    max-width: 1100px;
    padding: 40px;
    margin: auto;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.divmenu
{
    display: flex;
    gap: 40px;
}
header
{
    width: 100%;
    height: 900px;
    background: linear-gradient(rgba(0, 0, 0, 0.59)),url(./uae-4-2048x1367\ 2.png);
}
.navbar button
{
    padding: 15px 40px;
    background-color: rgba(7, 175, 145, 1);
    border: none;
    color: white;
    border-radius: 10px;
}
.iconMenu
{
    display: none;
}
.inBox1
{
    max-width: 1100px;
    margin: auto;
    margin-top: 170px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 30px;
}
.p1
{
    font-size: 25px;
}
.h1
{
    font-size: 35px;
}
.inBox1 button
{
    padding: 20px 25px;
    color: white;
    background: linear-gradient(to left, rgba(1, 108, 168, 1),rgba(97, 181, 228, 1));
    border: none;
    border-radius: 10px;
}
.ptele1
{
    display: none;
}
.box1
{
    max-width: 1100px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inBox2
{
    width: 40%;
    display: flex;
    flex-direction: column;
    row-gap: 100px;
}
.inBox3
{
    width: 45%;
    display: flex;
    flex-direction: column;
    row-gap: 100px;
}
.inBox2 div
{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: start;
}
.inBox3 div
{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: start;
}
.button1
{
    padding: 20px 60px;
    background-color: rgba(7, 175, 145, 1);
    border: none;
    color: white;
    border-radius: 10px;
}
.htele
{
    display: none;
}
.h2
{
    color: rgba(17, 120, 178, 1);
}
.box3
{
    max-width: 1100px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.p2
{
    font-size: 80px;
    font-weight: 800;
    color: rgba(17, 120, 178, 0.5);
}
.card1
{
    width: 290px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.09);;
}
.p3
{
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}
.p4
{
    text-align: center;
    line-height: 25px;
}
.sheficard
{
    display: flex;
    justify-content: space-between;
}
.backImage
{
    width: 100%;
    height: 604px;
    background: url(./Group\ 757.png);
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.druniBack
{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
}
.druniBack h1
{
    font-size: 40px;
    background-color: rgba(7, 175, 145, 1);
    color: white;
    padding: 10;
}
.druniBack button
{
    padding: 20px 35px;
    color: white;
    background: linear-gradient(to left, rgba(1, 108, 168, 1),rgba(97, 181, 228, 1));
    border: none;
    border-radius: 10px;
}
.box4
{
    max-width: 1100px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.button3
{
    width: 25%;
    border: none;
    height: 70px;
    margin: 0;
    background-color: rgba(238, 241, 244, 1);
    border-right: 1px solid rgba(207, 221, 235, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(72, 72, 72, 1);
}
.button2
{
    width: 25%;
    height: 70px;
    background-color: rgba(136, 187, 216, 1);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.buttonho
{
    border-radius: 40px;
    display: flex;
}
.druniBox1
{
    width: 90%;
    display: flex;
    position: relative;
}
.imageBack
{
    position: absolute;
    z-index: -1;
}
.inBox4
{
    width: 40%;
}
.inBox5
{
    width: 60%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.p5
{
    font-size: 48px;
    font-weight: 800;
    color: rgba(17, 120, 178, 0.5);
    text-align: center;
}
.card2
{
    width: 45%;
    padding: 50px 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.09);
    background-color: white;
}
.druniInbox5
{
    display: flex;
    justify-content: space-between;
}
.inBox4 button
{
    padding: 20px 45px;
    color: white;
    background: linear-gradient(to left, rgba(1, 108, 168, 1),rgba(97, 181, 228, 1));
    border: none;
    border-radius: 10px;
}
.inBox4
{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: start;
}
.row
{
    display: flex;
    align-items: center;
    gap: 10px;
}
.buttonGradient
{
    display: none;
}
.box5
{
    max-width: 1100px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.cards
{
    display: flex;
    justify-content: space-between;
}
.card3
{
    width: 260px;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.09);;
}
.siyoh
{
    width: 100%;
    height: 675px;
    border-radius: 10px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 40px;
    color: white;
}

@media (max-width:510px)
{
    .imgPlayer
    {
        width: 70px;
    }
    .siyoh
    {
        width: 100%;
        margin: auto;
        height: 200px;
        row-gap: 20px;
    }
    .card3
    {
        width: 90%;
        margin: auto;
        flex-direction: row;
        gap: 20px;
    }
    .cards
    {
        width: 90%;
        flex-direction: column;
        row-gap: 20px;
    }
    .box5
    {
        width: 90%;
        margin: auto;
        margin-top: 100px;
    }
    .buttonGradient
    {
        display: block;
        padding: 20px 45px;
        color: white;
        background: linear-gradient(to left, rgba(1, 108, 168, 1),rgba(97, 181, 228, 1));
        border: none;
        border-radius: 10px;
    }
    .card2
    {
        width: 160px;
        height: 134px;
        padding: 25px 5px;
    }
    .card1
    {
        width: 100%;
        margin: auto;
    }
    .inBox5
    {
        width: 100%;
    }
    .inBox4
    {
        width: 100%;
    }
    .imageBack
    {
        width: 100%;
    }
    .druniBox1
    {
        flex-direction: column;
        width: 90%;
        margin: auto;
        gap:40px;
    }
    .buttonho
    {
        width: 90%;
        margin: auto;
        text-align: center;
        font-size: 13px;
    }
    .druniBack h1
    {
        background-color: #12b89a;
        color: white;
        padding: 2px;
        display: inline;
        font-size: 36px;
    }
    .h2
    {
        text-align: center;
    }
    .sheficard
    {
        width: 90%;
        flex-wrap: wrap;
        row-gap: 20px;
        margin: auto;
    }
    .box3
    {
        width: 90%;
    }
    .button1
    {
        width: 90%;
        margin: auto;
    }
    .h11
    {
        margin: auto;
    }
    .inBox2 div
    {
        text-align: center;
    }
    .inBox2
    {
        width: 90%;
        text-align: center;
        line-height: 30px;
        align-items: center;
    }
    .inBox3
    {
        width: 90%;
        text-align: center;
        line-height: 30px;
        align-items: center;
    }
    .htele
    {
        display: block;
    }
    .img2
    {
        width: 90%;
    }
    .box1
    {
        flex-direction: column-reverse;
        gap: 50px;
    }
    .box2
    {
        flex-direction: column;
        gap: 50px;
    }
    .htele1
    {
        display: none;
    }
    .ptele1
    {
        display: block;
    }
    .p1
    {
        display: none;
    }
    .inBox1 button
    {
        padding: 20px 50px;
    }
    .navbar
    {
        width: 90%;
        gap: 20px;
        padding: 30px 10px;
    }
    .divmenu
    {
        display: none;
    }
    .iconMenu
    {
        padding: 15px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
    }
    .inBox1
    {
        text-align: center;
        width: 90%;
        margin: auto;
        margin-top: 140px;
        align-items: center;
    }
}