*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.navbar h1
{
    font-size: 24px;
}
.navbar
{
    max-width: 1100px;
    padding: 40px;
    margin: auto;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.divmenu
{
    display: flex;
    gap: 40px;
}
header
{
    width: 100%;
    height: 900px;
    background: linear-gradient(rgba(0, 0, 0, 0.59)),url(./uae-4-2048x1367\ 2.png);
}
.navbar button
{
    padding: 15px 40px;
    background-color: rgba(7, 175, 145, 1);
    border: none;
    color: white;
    border-radius: 10px;
}
.iconMenu
{
    display: none;
}
.inBox1
{
    max-width: 1100px;
    margin: auto;
    margin-top: 170px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 30px;
}
.p1
{
    font-size: 25px;
}
.h1
{
    font-size: 35px;
}
.inBox1 button
{
    padding: 20px 25px;
    color: white;
    background: linear-gradient(to left, rgba(1, 108, 168, 1),rgba(97, 181, 228, 1));
    border: none;
    border-radius: 10px;
}
.ptele1
{
    display: none;
}
.box1
{
    max-width: 1100px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inBox2
{
    width: 40%;
    display: flex;
    flex-direction: column;
    row-gap: 100px;
}
.inBox3
{
    width: 45%;
    display: flex;
    flex-direction: column;
    row-gap: 100px;
}
.inBox2 div
{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: start;
}
.inBox3 div
{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: start;
}
.button1
{
    padding: 20px 60px;
    background-color: rgba(7, 175, 145, 1);
    border: none;
    color: white;
    border-radius: 10px;
}
.htele
{
    display: none;
}
.h2
{
    color: rgba(17, 120, 178, 1);
}
.box3
{
    max-width: 1100px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.p2
{
    font-size: 80px;
    font-weight: 800;
    color: rgba(17, 120, 178, 0.5);
}
.card1
{
    width: 290px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.09);;
}
.p3
{
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}
.p4
{
    text-align: center;
    line-height: 25px;
}
.sheficard
{
    display: flex;
    justify-content: space-between;
}
.backImage
{
    width: 100%;
    height: 604px;
    background: url(./Group\ 757.png);
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.druniBack
{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}
.druniBack h1
{
    font-size: 40px;
    background-color: rgba(7, 175, 145, 1);
    padding: 0;
}
.druniBack button
{
    padding: 20px 35px;
    color: white;
    background: linear-gradient(to left, rgba(1, 108, 168, 1),rgba(97, 181, 228, 1));
    border: none;
    border-radius: 10px;
}


@media (max-width:510px)
{
    .sheficard
    {
        flex-wrap: wrap;
        row-gap: 20px;
    }
    .box3
    {
        width: 90%;
    }
    .button1
    {
        width: 90%;
        margin: auto;
    }
    .h11
    {
        margin: auto;
    }
    .inBox2 div
    {
        text-align: center;
    }
    .inBox2
    {
        width: 90%;
        text-align: center;
        line-height: 30px;
        align-items: center;
    }
    .inBox3
    {
        width: 90%;
        text-align: center;
        line-height: 30px;
        align-items: center;
    }
    .htele
    {
        display: block;
    }
    .img2
    {
        width: 90%;
    }
    .box1
    {
        flex-direction: column-reverse;
        gap: 50px;
    }
    .box2
    {
        flex-direction: column;
        gap: 50px;
    }
    .htele1
    {
        display: none;
    }
    .ptele1
    {
        display: block;
    }
    .p1
    {
        display: none;
    }
    .inBox1 button
    {
        padding: 20px 50px;
    }
    .navbar
    {
        width: 90%;
        gap: 20px;
        padding: 30px 10px;
    }
    .divmenu
    {
        display: none;
    }
    .iconMenu
    {
        padding: 15px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
    }
    .inBox1
    {
        text-align: center;
        width: 90%;
        margin: auto;
        margin-top: 140px;
        align-items: center;
    }
}