*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.navbar h1
{
    font-size: 24px;
}
.navbar
{
    max-width: 1100px;
    padding: 40px;
    margin: auto;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.divmenu
{
    display: flex;
    gap: 40px;
}
header
{
    width: 100%;
    height: 900px;
    background: linear-gradient(rgba(0, 0, 0, 0.59)),url(./uae-4-2048x1367\ 2.png);
}
.navbar button
{
    padding: 15px 40px;
    background-color: rgba(7, 175, 145, 1);
    border: none;
    color: white;
    border-radius: 10px;
}
.iconMenu
{
    display: none;
}
.inBox1
{
    max-width: 1100px;
    margin: auto;
    margin-top: 170px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 30px;
}
.p1
{
    font-size: 25px;
}
.h1
{
    font-size: 40px;
}
.inBox1 button
{
    padding: 20px 25px;
    color: white;
    background: linear-gradient(to left, rgba(1, 108, 168, 1),rgba(97, 181, 228, 1));
    border: none;
    border-radius: 10px;
}
.ptele1
{
    display: none;
}


@media (max-width:510px)
{
    .ptele1
    {
        display: block;
    }
    .p1
    {
        display: none;
    }
    .inBox1 button
    {
        padding: 20px 50px;
    }
    .navbar
    {
        width: 90%;
        gap: 20px;
        padding: 30px 10px;
    }
    .divmenu
    {
        display: none;
    }
    .iconMenu
    {
        padding: 15px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
    }
    .inBox1
    {
        text-align: center;
        width: 90%;
        margin: auto;
        margin-top: 140px;
        align-items: center;
    }
}